<% @current_user = "admin" %>
<% if @current_user == "admin" %>
  <div class="container">
    <ul class="main-menu">
      <li><a href="/admin/users">Users</a></li>
      <li><a href="/admin/teachers">Teachers</a></li>
      <li><a href="/admin/students">Students</a></li>
      <li><a href="/admin/lessons">Lessons</a></li>
      <li><a href="/admin/booking_requests">Booking Requests</a></li>
      <% if !logged_in? %>
      <li class="right"><a href="/login">Login</a></li>
      <li class="right"><a href="/signup">Sign Up</a></li>
      <% else %>
      <li class="right"><form action="/logout" method="post"><input type="submit" value="Log Out"></form></li>
      <% end %>
    </ul>
  </div>
<% end %>