<div class="container">
  <h1>Sinatra Appointments App</h1>
  
  <% if !logged_in? %>
  <p>If you'd like to see our teacher's availability and make a booking request. Please sign up or login to continue:</p>
  <p><a href="/signup" class="btn btn-primary">Sign Up</a> <a href="/login" class="btn btn-primary">Login</a></p>
  <% end %>
</div>