<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sinatra Appointments App</title>
    <link rel="stylesheet" href="<%=url("/css/style.css")%>"></link>
  </head>
  <body>
    <%= yield %>
  </body>
</html>